@model BookStore.Models.Genre
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Genre: @Model.Name</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3>Are you sure you want to delete @Model.Name Genre?</h3>
    <hr />
    <fieldset disabled>
        <div class="row" style="padding-bottom:5px; padding-top:5px;">
            <div class="control-label col-md-1" style="margin-top:7px;">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="col-md-11">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </fieldset>

    <br />

    <p>
        @Html.Partial("_BackToListBtn")
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
    </p>
}



